*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
}
.page-actions-cont{
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background:linear-gradient(90deg,rgba(7, 36, 0, 1) 0%, rgba(9, 121, 54, 1) 35%, rgba(0, 255, 68, 1) 100%);
}
.page-action{

  margin: 0.5rem;
  color: white;
}
.cellprops-actions-cont{
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: white;
}
.cellprops-actions-cont>*{
  display: inline-block;
  margin: 0.5rem;
}
.cellprops-actions-cont>*:hover{
  cursor: pointer;
}
.cellprops-actions-cont>select{
  border: none;
  border-radius: 5px;
}
.font-family-prop{
  padding: 0.5rem;
}
.font-size-prop{
  padding: 0.5rem;
}
.formula-actions-cont{
  height: 3rem;
  background-color: lightgrey;
  display: flex;
  padding: 1rem;
  gap: 10px;
  align-items: center;
}
.formula-actions-cont>*{
  display: inline-block;
}
.formula-actions-cont>input{
  border: none;
  border-radius: 5px;
}
.address-bar{
  width: 5rem;
}
.formula-bar{
  width: calc(100vw - 5rem);
}
.grid-cont{
  height : calc( 100vh - 3rem - 3rem - 3rem - 3rem);
  position: relative;
  overflow: scroll;
}
.sheet-action-cont{
  height: 3rem;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.sheet-action-cont>*{
  display: inline-block;
}
.sheet-add-icon{
  width: 2vw;
  margin: 5px;
  color: white;
  background-color: royalblue;
}
.sheet-add-icon :hover{
  cursor: pointer;
}
.sheet-folder-cont{
  height: 80%;
  width: calc(100vw - 2vw);
  display: flex;
  align-items: center;
}
.sheet-folder{
  height: 50%;
  /* background-color: lightblue; */
  text-decoration: underline;
  font-weight: bold;
  text-decoration-thickness: 3px;
  font-size: 0.9rem;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.sheet-content{
  width: 5rem;
  /* background-color: lightgreen; */
}
.top-left-dumy{
  height: 2rem;
  width: 2rem;
  background-color: black;
  position: fixed;
  z-index: 2;
  left: 0;
}
.address-col-cont{
  position: sticky;
  top: 2rem;
  left: 0;
}
.address-row-cont{
  display: flex;
  position: sticky;
  top: 0;
  left: 2rem;

}
.cells-cont{
  position: absolute;
  top: 0;
  left: 2rem; 
}
.address-col{
  width: 2rem;
  height: 2rem;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  z-index: 2;
}
.address-row{
  width: 4rem;
  height: 2rem;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}
.cell{
  width: 4rem;
  height: 2rem;
  color: rgb(150, 148, 148);
  border: 1px solid black;
  outline: none; 
}
.row{
  display: flex;
}
.color-prop > input{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.color-prop{
  position: relative;
}